:root {
  --pagedjs-margin-left: 16mm !important;
  --pagedjs-margin-right: 16mm !important;
  --pagedjs-margin-top: 16mm !important;
  --pagedjs-margin-bottom: 25mm !important;
  --co-primary-blue: #005abb;
  --co-secondary-blue: #5bb4e5;
  --co-primary-grey: #4d4e53;
  --co-secondary-grey: #cacac8;
  --co-dark-blue: #1a2792;
  --co-violet: #78256e;
  --co-red: #a23138;
  --co-orange: #cc5a13;
  --co-yellow: #ecac00;
  --co-green: #879637;
  --co-aqua: #57bab7;
}

.grid-page {
  display: grid;
  justify-content: start;
  align-content: start;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  height: 100%;
  color: var(--co-primary-grey);
  font-size: 10pt;
}

.grid-page p {
  margin: 0px;
}

.grid-page div {
  display: flex;
}

img {
  margin: auto;
}

@media print{
  .grid-page {
    grid-template-rows: repeat(6, 24mm);
    grid-template-columns: repeat(6, 40mm);
    grid-gap: 5mm;
  }

}

@media screen{
  .grid-page {
    grid-gap: 10px;
  }
}

.title{
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  font-size: 25pt;
  color: var(--co-primary-blue);
}

.test {
  border: 1px solid var(--co-secondary-grey);
}


.maintext {

}

.secondarytext {

}

.content {

}

/* Front cover */
.front-cover .logo {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.front-cover .title {
  grid-column: 3 / span 4;
  grid-row: 1 / span 2;
  display: flex;
  padding: 10pt;
  string-set: reportTitle content(text);
}

.front-cover .title p {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  font-size: 38pt;
}

.front-cover .panel {
  grid-column: 1 / span 6;
  grid-row: 3 / span 4;
  background-color: var(--co-primary-blue);
}

.front-cover .subtitle {
  grid-column: 3 / span 4;
  grid-row: 3 / span 3;
  display: flex;
  padding: 10pt;
}

.front-cover .subtitle p {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  font-size: 22pt;
  color: #ffffff;
}

.front-cover .date {
  grid-column: 3 / span 4;
  grid-row: 6 / span 1;
  display: flex;
  padding: 10pt;
}

.front-cover .date p {
  margin-top: auto;
  margin-left: auto;
  font-size: 10pt;
  color: #ffffff;
}

/* Single content box (std) */
.single-content .content1 {
  grid-column: 3 / span 4;
  grid-row: 3 / span 4;
}

.single-content .maintext {
  grid-column: 3 / span 4;
  grid-row: 1 / span 2;
}

.single-content .secondarytext {
  grid-column: 1 / span 2;
  grid-row: 3 / span 4;
}

/* Single content box (wide) */
.single-content-wide .content1 {
  grid-column: 1 / span 6;
  grid-row: 3 / span 4;
}

.single-content-wide .maintext {
  grid-column: 3 / span 4;
  grid-row: 1 / span 2;
}

/* Single content box (high) */
.single-content-high .content1 {
  grid-column: 3 / span 4;
  grid-row: 1 / span 6;
}

.single-content-high .maintext {
  grid-column: 1 / span 2;
  grid-row: 3 / span 4;
}

/* Two column content (std) */
.two-col .content1 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 4;
}

.two-col .content2 {
  grid-column: 5 / span 2;
  grid-row: 3 / span 4;
}

.two-col .maintext {
  grid-column: 3 / span 4;
  grid-row: 1 / span 2;
}

.two-col .secondarytext {
  grid-column: 1 / span 2;
  grid-row: 3 / span 4;
}

/* Two column content (wide) */
.two-col-wide .content1 {
  grid-column: 1 / span 3;
  grid-row: 3 / span 4;
}

.two-col-wide .content2 {
  grid-column: 4 / span 3;
  grid-row: 3 / span 4;
}

.two-col-wide .maintext {
  grid-column: 3 / span 4;
  grid-row: 1 / span 2;
}

/* Three column content */
.three-col .content1 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 4;
}

.three-col .content2 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 4;
}

.three-col .content3 {
  grid-column: 5 / span 2;
  grid-row: 3 / span 4;
}

.three-col .maintext {
  grid-column: 3 / span 4;
  grid-row: 1 / span 2;
}

/* Two row content (std)*/
.two-row .content1 {
  grid-column: 3 / span 4;
  grid-row: 3 / span 2;
}

.two-row .content2 {
  grid-column: 3 / span 4;
  grid-row: 5 / span 2;
}

.two-row .maintext {
  grid-column: 3 / span 4;
  grid-row: 1 / span 2;
}

.two-row .secondarytext {
  grid-column: 1 / span 2;
  grid-row: 3 / span 4;
}

/* Two row content (high)*/
.two-row-high .content1 {
  grid-column: 3 / span 4;
  grid-row: 1 / span 3;
}

.two-row-high .content2 {
  grid-column: 3 / span 4;
  grid-row: 4 / span 3;
}

.two-row-high .maintext {
  grid-column: 1 / span 2;
  grid-row: 3 / span 4;
}

/* Three row content (std)*/
.three-row .content1 {
  grid-column: 3 / span 4;
  grid-row: 1 / span 2;
}

.three-row .content2 {
  grid-column: 3 / span 4;
  grid-row: 3 / span 2;
}

.three-row .content3 {
  grid-column: 3 / span 4;
  grid-row: 5 / span 2;
}

.three-row .maintext {
  grid-column: 1 / span 2;
  grid-row: 3 / span 4;
}

/* Three row content (small)*/
.three-row-small .content1 {
  grid-column: 5 / span 2;
  grid-row: 1 / span 2;
}

.three-row-small .content2 {
  grid-column: 5 / span 2;
  grid-row: 3 / span 2;
}

.three-row-small .content3 {
  grid-column: 5 / span 2;
  grid-row: 5 / span 2;
}

.three-row-small .maintext {
  grid-column: 3 / span 2;
  grid-row: 1 / span 6;
}

/* Four content (std)*/
.four-content .content1 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

.four-content .content2 {
  grid-column: 5 / span 2;
  grid-row: 3 / span 2;
}

.four-content .content3 {
  grid-column: 3 / span 2;
  grid-row: 5 / span 2;
}

.four-content .content4 {
  grid-column: 5 / span 2;
  grid-row: 5 / span 2;
}

.four-content .maintext {
  grid-column: 3 / span 4;
  grid-row: 1 / span 2;
}

.four-content .secondarytext {
  grid-column: 1 / span 2;
  grid-row: 3 / span 4;
}

/* Four content (wide)*/
.four-content-wide .content1 {
  grid-column: 1 / span 3;
  grid-row: 3 / span 2;
}

.four-content-wide .content2 {
  grid-column: 4 / span 3;
  grid-row: 3 / span 2;
}

.four-content-wide .content3 {
  grid-column: 1 / span 3;
  grid-row: 5 / span 2;
}

.four-content-wide .content4 {
  grid-column: 4 / span 3;
  grid-row: 5 / span 2;
}

.four-content-wide .maintext {
  grid-column: 3 / span 4;
  grid-row: 1 / span 2;
}

/* Four content (high)*/
.four-content-high .content1 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 3;
}

.four-content-high .content2 {
  grid-column: 5 / span 2;
  grid-row: 1 / span 3;
}

.four-content-high .content3 {
  grid-column: 3 / span 2;
  grid-row: 4 / span 3;
}

.four-content-high .content4 {
  grid-column: 5 / span 2;
  grid-row: 4 / span 3;
}

.four-content-high .maintext {
  grid-column: 1 / span 2;
  grid-row: 3 / span 4;
}

/* Six content (wide)*/
.six-content-wide .content1 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}

.six-content-wide .content2 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

.six-content-wide .content3 {
  grid-column: 5 / span 2;
  grid-row: 3 / span 2;
}

.six-content-wide .content4 {
  grid-column: 1 / span 2;
  grid-row: 5 / span 2;
}

.six-content-wide .content5 {
  grid-column: 3 / span 2;
  grid-row: 5 / span 2;
}

.six-content-wide .content6 {
  grid-column: 5 / span 2;
  grid-row: 5 / span 2;
}

.six-content-wide .maintext {
  grid-column: 3 / span 4;
  grid-row: 1 / span 2;
}

/* Six content (high)*/
.six-content-high .content1 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}

.six-content-high .content2 {
  grid-column: 5 / span 2;
  grid-row: 1 / span 2;
}

.six-content-high .content3 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

.six-content-high .content4 {
  grid-column: 5 / span 2;
  grid-row: 3 / span 2;
}

.six-content-high .content5 {
  grid-column: 3 / span 2;
  grid-row: 5 / span 2;
}

.six-content-high .content6 {
  grid-column: 5 / span 2;
  grid-row: 5 / span 2;
}

.six-content-high .maintext {
  grid-column: 1 / span 2;
  grid-row: 3 / span 4;
}

